
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

/* TYPOGRAPHY */

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: Inter, sans-serif;
    font-size: 15px;
}

h1 {
    font-variation-settings: "wght" 700;
    font-size: 2.5rem;
    line-height: 1em;
}

.featured-article p {
    color: var(--dark-grayish-blue);
    line-height: 1.6em;   
}

.featured-article a {
    color: var(--off-white);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3em;
}

.new-articles h2 {
    color: var(--off-white);
    color: var(--soft-orange);
    font-variation-settings: "wght" 700;
    font-size: 1.8rem;
}

.new-articles a,
.top-articles a {
    text-decoration: none;
}

.new-articles .new-article h3{
    color: var(--off-white);
    font-variation-settings: "wght" 700;
    font-size: 1.3rem;
}

.new-articles .new-article p{
    color: var(--grayish-blue);
}

.top-articles .top-article {
    color: var(--dark-grayish-blue);
}

.top-articles a h2,
.top-articles a h3 {
    font-variation-settings: "wght" 700;
}

.top-articles .top-article h2 {
    font-size: 2.3rem;
    color: var(--grayish-blue);
    letter-spacing: 0.05em;
}

.top-articles .top-article h3 {
    color: var(--very-dark-blue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* LAYOUT */

header, main {
    width: 90%;
    margin: 0 auto;
}

header {
    margin-top: 2em;
}

.logo {
    width: 45px;
}

nav {
    display: none;
}

main {
    margin-top: 1.5em;
}

.featured-article img {
    width: 100%;
    height: 32vh;
    object-fit: cover;
}

.featured-article h1 {
    margin-top: 0.5em;
}

.featured-article p {
    margin-top: 1em;
}

.featured-article a {
    background-color: var(--soft-red);
    margin-top: 1em;
    padding: 1em 1em;
    display: block;
    width: 55%;
}

.new-articles {
    margin-top: 3em;
    background-color: var(--very-dark-blue);
    padding: 1.5em 1em;
}

.new-articles .new-article {
    display: block;
    margin-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--off-white);
}

.new-articles .new-article:nth-child(4) {
    border-bottom: none;
    padding-bottom: 0.5em;
}

.new-articles .new-article p {
    margin-top: 1em;
}

.top-articles {
    margin-top: 4em;
}

.top-articles .top-article {
    display: flex;
    margin-top: 2em;
}

.top-articles .top-article img {
    width: 30%;
    object-fit: cover;
}

.top-articles .top-article div {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    margin-top: 3em;
    margin-bottom: 1em;
}

/* MEDIA QUERIES */

@media (min-width: 750px) {
    
    header, main {
        width: 80%;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .logo {
        width: 55px;
    }

    nav {
        display: block;
    }

    nav ul {
        list-style: none;
        display: flex;
    }

    nav ul li a {
        text-decoration: none;
        color: var(--dark-grayish-blue);
        margin-left: 3.2em;
    }

    nav ul li a:hover {
        color: var(--soft-orange);
    }

    main,
    .featured-article,
    .top-articles {
        grid-column-gap: 30px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 30px;
    }

    .featured-article,
    .new-articles,
    .top-articles,
    .featured-article h1,
    .featured-article p {
        margin: 0;
    }

    .featured-article {
        grid-column: 1 / 3;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }

    .featured-article picture {
        grid-column: 1/3;
    }

    .featured-article h1 {
        grid-column: 1/2;
        font-size: 3rem;
        width: 90%;
        line-height: 1.1em;
        letter-spacing: 0.03em;
    }

    .featured-article p,
    .featured-article a {
        grid-column: 2/3;
    }

    nav ul li a,
    .featured-article a,
    .new-articles .new-article a h3,
    .top-articles .top-article a h3 {
        transition: all ease-in-out 0.3s;
    }

    .featured-article a:hover,
    .new-articles .new-article a,
    .top-articles .top-article a {
        cursor: pointer;
    }

    .featured-article a:hover {
        background-color: var(--very-dark-blue);
    }

    .featured-article img {
        height: 100%;
    }

    .featured-article a {
        margin-top: 1.5em;
    }

    .new-articles {
        grid-column: 3 / 4;
        padding: 1.5em 1.5em;
    }

    .new-articles h2 {
        margin-bottom: 1em;
    }

    .new-articles .new-article {
        margin-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .new-articles .new-article a:hover h3{
        color: var(--soft-orange);
    }

    .new-articles .new-article p {
        line-height: 2em;
        margin-top: 0.5em;
    }

    .top-articles {
        grid-column: 1 / 4;
        display: flex;
        flex-direction: row;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .top-articles .top-article a:hover h3 {
        color: var(--soft-red);
    }

    .top-articles p {
        line-height: 1.5em;
    }

    footer {
        margin-top: 4em;
    }
}


